{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ],
    "react/forbid-prop-types": 0,
    "no-underscore-dangle": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "process": true
  },
  "parser": "babel-eslint"
}
