{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
  "rules": {
    "react/prop-types": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "process": true
  }
}
