# Next build
.next

# Enviroment variables
.env
.env.local

# Node modules
node_modules

# Mac OS Files
.DS_Store

# Now
.now
.vercel

# Yarn error logs
yarn-error.log

.vscode

# Automatic generated fiels
public/robots.txt
public/sitemap.xml

# PWA worker files
public/sw.js*
workbox-*.js*
