main {
  .dokumentBody {
    h1 {
      color: #12806a;
      font-size: 1.75rem;
    }
    p {
      font-size: 1rem;
    }
    a {
      color: #16a085 !important;
      text-decoration: underline;
    }
  }
}
