.w600px {
  width: 600px;
  font-family: Verdana, Geneva, sans-serif;
}
h2.dtyp {
  font-size: 1.5em !important;
}
@page Section1 {
  size: 467.8pt 686.05pt;
  margin: 45.35pt 102.05pt 73.7pt 70.85pt;
}
div.Section1 {
  page: Section1;
}
zbody {
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
zh1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 3.1pt 0pt 0pt;
}
zli,
table {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
}
zh1 {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-inside: auto;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
  font-weight: normal;
  color: #000000;
}
zh2 {
  margin-top: 20pt;
  margin-bottom: 6pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 13.5pt;
  font-weight: normal;
  color: #000000;
}
zh3 {
  margin-top: 20pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
  color: #000000;
}
zh4 {
  margin-top: 15pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
zh5 {
  margin-top: 6.25pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
  color: #000000;
}
zh6 {
  margin-top: 6.25pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
.Heading7 {
  margin-top: 2pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: normal;
  font-style: italic;
  color: #243f60;
  -aw-style-name: heading7;
}
.Heading8 {
  margin-top: 2pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9pt;
  font-weight: normal;
  color: #272727;
  -aw-style-name: heading8;
}
.Heading9 {
  margin-top: 2pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9pt;
  font-weight: normal;
  font-style: italic;
  color: #272727;
  -aw-style-name: heading9;
}
.Avsnittsrubrik {
  margin-top: 0pt;
  margin-bottom: 27.7pt;
  text-align: left;
  page-break-before: always;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 16pt;
}
.Avvikandemeningrubrik {
  margin-top: 0pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.BalloonText {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: Tahoma;
  font-size: 8pt;
}
.Bilaga {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-before: always;
  page-break-after: avoid;
  line-height: normal;
  widows: 0;
  orphans: 0;
  font-family: "Verdana";
  font-size: 8pt;
  font-variant: small-caps;
  text-decoration: underline;
}
.Bilagerubrik {
  margin-top: 0pt;
  margin-bottom: 17.7pt;
  text-align: left;
  page-break-after: auto;
  line-height: normal;
  widows: 0;
  orphans: 0;
  font-family: "Verdana";
  font-size: 16pt;
}
.Bild-Rubrik {
  margin-top: 8pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
.Bild-Underrubrik {
  margin-top: 0pt;
  margin-bottom: 1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
}
.BodyText {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.BodyTextIndent2 {
  margin-top: 3.1pt;
  margin-left: 14.15pt;
  margin-bottom: 6pt;
  text-align: justify;
  line-height: 200%;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Citatindrag {
  margin-top: 0pt;
  margin-left: 14.2pt;
  margin-bottom: 6.1pt;
  text-indent: 14.2pt;
  text-align: justify;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.CommentText {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 10pt;
}
.Deltagare {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 9.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Diagram-Rubrik {
  margin-top: 8pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
.Diagram-Underrubrik {
  margin-top: 0pt;
  margin-bottom: 1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
}
.DokumentRubrik {
  margin-top: 6pt;
  margin-bottom: 24pt;
  text-align: left;
  line-height: normal;
  border-bottom: 0.75pt solid #000000;
  padding-bottom: 4pt;
  font-family: "Verdana";
  font-size: 18pt;
  -aw-border-bottom: 0.5pt single;
}
.Dokumentbeteckning {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Fluglort {
  margin-top: 0.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 0.7pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Footer {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.FootnoteText {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 8pt;
}
.Fotnotstextindrag {
  margin-top: 0pt;
  margin-left: 5.65pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 8pt;
}
.Frslagspunkt {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
.Frslagstext {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Frteckningsrubrik {
  margin-top: 9.6pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
.Grupprubrik {
  margin-top: 6pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.Grupprubrikindrag {
  margin-top: 6pt;
  margin-left: 22.1pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.Header {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 7.5pt;
  font-variant: small-caps;
}
.Innehllsfrteckning {
  margin-top: 0pt;
  margin-bottom: 17.7pt;
  text-align: left;
  page-break-before: always;
  page-break-after: auto;
  line-height: normal;
  font-family: "Verdana";
  font-size: 16pt;
}
.Kanslikommentar {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Kantrubrik {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 7.5pt;
}
.ListBullet {
  margin-top: 6.25pt;
  margin-left: 17.85pt;
  margin-bottom: 6.25pt;
  text-indent: -17.85pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.ListParagraph {
  margin-top: 3.1pt;
  margin-left: 28.35pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Litentext {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 8pt;
}
.Mellanrubrik {
  margin-top: 11pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.Mellanrum {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-before: auto;
  page-break-after: auto;
  line-height: 1pt;
  widows: 0;
  orphans: 0;
  font-family: "Verdana";
  font-size: 1pt;
  font-variant: small-caps;
  text-decoration: none;
  color: #ffffff;
}
.NormalIndent {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-indent: 11.35pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Normalinskjuten {
  margin-top: 0pt;
  margin-left: 22.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Normalinskjutenindrag {
  margin-top: 0pt;
  margin-left: 22.1pt;
  margin-bottom: 0pt;
  text-indent: 11.35pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Normalinskjutenkursiv {
  margin-top: 6pt;
  margin-bottom: 0pt;
  line-height: normal;
  font-family: "Verdana";
  font-size: 10pt;
  font-style: italic;
}
.Normalkursiv {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.Normalruta {
  margin: 3.1pt 5.65pt 0pt;
  text-align: justify;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  border: 0.75pt solid #000000;
  padding: 4pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  -aw-border: 0.5pt single;
}
.Normalrutafet {
  margin: 3.1pt 5.65pt 0pt;
  text-align: justify;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  border: 0.75pt solid #000000;
  padding: 4pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
  -aw-border: 0.5pt single;
}
.Normalrutaindrag {
  margin: 0pt 5.65pt;
  text-indent: 11.35pt;
  text-align: justify;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  border: 0.75pt solid #000000;
  padding: 4pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  -aw-border: 0.5pt single;
}
.Normalutanluftfre {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.NormalNoll {
  margin-top: 0pt;
  margin-bottom: 3.1pt;
  text-align: left;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.NumlistaTOC {
  margin: 3.1pt 28.35pt 0pt 0pt;
  text-indent: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Ordfranden {
  margin-top: 3.1pt;
  margin-bottom: 22pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.OrtochDatum {
  margin-top: 18pt;
  margin-bottom: 18pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Punktlistabomb {
  margin-top: 6.25pt;
  margin-left: 14.2pt;
  margin-bottom: 6.25pt;
  text-indent: -14.2pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Punktlistagemener {
  margin-top: 6.25pt;
  margin-left: 14.2pt;
  margin-bottom: 6.25pt;
  text-indent: -14.2pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Punktlistalinje {
  margin-top: 6.25pt;
  margin-left: 14.2pt;
  margin-bottom: 6.25pt;
  text-indent: -14.2pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Punktlistasiffra {
  margin-top: 6.25pt;
  margin-left: 14.2pt;
  margin-bottom: 6.25pt;
  text-indent: -14.2pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.PVgnar {
  margin-top: 3.1pt;
  margin-bottom: 26pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.Quote {
  margin-top: 6.1pt;
  margin-left: 14.2pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.R1 {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.R1bilaga {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-after: auto;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.R2 {
  margin-top: 20pt;
  margin-bottom: 6pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 13.5pt;
}
.R3 {
  margin-top: 20pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.R4 {
  margin-top: 15pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
.R5 {
  margin-top: 6.25pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
.R6 {
  margin-top: 6.25pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: normal;
  font-style: italic;
  color: #000000;
}
.Reservationshnvisning {
  margin-top: 0pt;
  margin-bottom: 8pt;
  text-align: right;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
.Reservationsrubrik {
  margin-top: 0pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.Rubrik1Dokumentinformation {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Rubrik1bilaga {
  margin-top: 0pt;
  margin-bottom: 27.7pt;
  text-align: left;
  page-break-after: auto;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Rubrik1medsidhuvud {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-before: always;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Rubrik1numrerat {
  margin-top: 3.1pt;
  margin-left: 0pt;
  margin-bottom: 12pt;
  text-indent: 0pt;
  text-align: left;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Rubrik1numreratmedsidhuvud {
  margin-top: 0pt;
  margin-left: 0pt;
  margin-bottom: 16pt;
  text-indent: 0pt;
  text-align: left;
  page-break-before: always;
  page-break-after: avoid;
  line-height: normal;
  font-family: "Verdana";
  font-size: 16pt;
}
.Rubrik2bilaga {
  margin-top: 20pt;
  margin-bottom: 6pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 13.5pt;
}
.Rubrik2numrerat {
  margin-top: 20pt;
  margin-left: 0pt;
  margin-bottom: 6pt;
  text-indent: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 13.5pt;
}
.Rubrik3numrerat {
  margin-top: 20pt;
  margin-left: 0pt;
  margin-bottom: 3.1pt;
  text-indent: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.Sammanfattning {
  margin-top: 3.1pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-after: auto;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Sidhuvudhgerstlld {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: right;
  line-height: normal;
  font-family: "Verdana";
  font-size: 7.5pt;
  font-variant: small-caps;
}
.Sidhuvudvnsterstlld {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 7.5pt;
  font-variant: small-caps;
}
.Stdrubrik {
  margin-top: 12pt;
  margin-bottom: 0pt;
  line-height: 12pt;
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
.Srskiltyttranderubrik {
  margin-top: 0pt;
  margin-bottom: 3.1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
.TOC1 {
  margin-top: 0pt;
  margin-right: 28.35pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC2 {
  margin: 0pt 28.35pt 0pt 5.65pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC3 {
  margin: 0pt 28.35pt 0pt 11.35pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC4 {
  margin: 0pt 28.35pt 0pt 17pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC5 {
  margin: 0pt 28.35pt 0pt 22.7pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC6 {
  margin-top: 0pt;
  margin-left: 47.65pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC7 {
  margin-top: 0pt;
  margin-right: 28.35pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC8 {
  margin-top: 0pt;
  margin-right: 28.35pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOC9 {
  margin-top: 0pt;
  margin-left: 8.5pt;
  margin-bottom: 0pt;
  text-align: left;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TOCHeading {
  margin-top: 3.1pt;
  margin-bottom: 9pt;
  text-align: left;
  page-break-before: always;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Tabell-Kolumnrubrik {
  margin-top: 3pt;
  margin-bottom: 0pt;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 8pt;
  font-weight: bold;
}
.Tabell-KolumnrubrikHger {
  margin-top: 3pt;
  margin-bottom: 0pt;
  text-align: right;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 8pt;
  font-weight: bold;
}
.Tabell-Klla {
  margin-top: 2pt;
  margin-bottom: 0pt;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 7pt;
}
.Tabell-Radrubrik {
  margin-top: 3pt;
  margin-bottom: 0pt;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 8pt;
}
.Tabell-Rubrik {
  margin-top: 12pt;
  margin-bottom: 3pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 9pt;
  font-weight: bold;
}
.Tabell-Siffror {
  margin-top: 3pt;
  margin-bottom: 0pt;
  text-align: right;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 8pt;
}
.Tabell-Text {
  margin-top: 3pt;
  margin-bottom: 0pt;
  line-height: 10pt;
  font-family: "Verdana";
  font-size: 8pt;
}
.Tabell-Underrubrik {
  margin-top: 0pt;
  margin-bottom: 1pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 8pt;
  font-family: "Verdana";
  font-size: 8pt;
  font-weight: normal;
  font-style: italic;
}
.TableofFigures {
  margin-top: 3.1pt;
  margin-bottom: 0pt;
  text-align: justify;
  line-height: normal;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.TillX-utskottet {
  margin-top: 0pt;
  margin-bottom: 12pt;
  text-align: left;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Title {
  margin-top: 3.1pt;
  margin-bottom: 1pt;
  text-align: left;
  line-height: 12pt;
  font-family: "Verdana";
  font-size: 20pt;
  letter-spacing: -0.5pt;
}
.Vapen {
  margin-top: 0pt;
  margin-bottom: 0pt;
  text-align: left;
  page-break-inside: avoid;
  page-break-after: avoid;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 16pt;
}
.Yrkandelista {
  margin-top: 3.1pt;
  margin-left: 28.35pt;
  margin-bottom: 0pt;
  text-indent: -28.35pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
.YrkandelistaEtt {
  margin-top: 3.1pt;
  margin-left: 0pt;
  margin-bottom: 0pt;
  text-indent: 0pt;
  text-align: justify;
  line-height: 12.5pt;
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.BallongtextChar {
  font-family: Tahoma;
  font-size: 8pt;
}
span.BilagaChar {
  font-family: "Verdana";
  font-size: 8pt;
  font-variant: small-caps;
  text-decoration: underline;
}
span.BrdtextChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.BrdtextChar1 {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.Brdtextmedindrag2Char {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.CitatChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.DokumentRubrikChar {
  font-family: "Verdana";
  font-size: 18pt;
}
span.FotnotstextChar {
  font-family: "Verdana";
  font-size: 8pt;
}
span.FotnotstextindragChar {
  font-family: "Verdana";
  font-size: 8pt;
}
span.FrslagspunktChar {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
  font-style: normal;
}
span.Hyperlink {
  text-decoration: none;
  color: #000000;
  -aw-style-name: hyperlink;
}
span.KommentarerChar {
  font-family: "Verdana";
  font-size: 10pt;
}
span.NormalkursivChar {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
span.NormaltindragChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.OrdfrandenChar {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
span.OrtochDatumChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.PlaceholderText {
  color: #808080;
}
span.PVgnarChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.ReservationshnvisningChar {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
}
span.Rubrik1Char {
  font-family: "Verdana";
  font-size: 16pt;
}
span.Rubrik1DokumentinformationChar {
  font-family: "Verdana";
  font-size: 16pt;
}
span.Rubrik2Char {
  font-family: "Verdana";
  font-size: 13.5pt;
}
span.Rubrik3Char {
  font-family: "Verdana";
  font-size: 10.5pt;
  font-weight: bold;
}
span.Rubrik4Char {
  font-family: "Verdana";
  font-size: 10.5pt;
  font-style: italic;
  color: #000000;
}
span.Rubrik5Char {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-weight: bold;
}
span.Rubrik6Char {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
  color: #000000;
}
span.Rubrik7Char {
  font-family: "Verdana";
  font-size: 9.5pt;
  font-style: italic;
  color: #243f60;
}
span.Rubrik8Char {
  font-family: "Verdana";
  font-size: 9pt;
  color: #272727;
}
span.Rubrik9Char {
  font-family: "Verdana";
  font-size: 9pt;
  font-style: italic;
  color: #272727;
}
span.RubrikChar {
  font-family: "Verdana";
  font-size: 20pt;
  letter-spacing: -0.5pt;
}
span.SidfotChar {
  font-family: "Verdana";
  font-size: 9.5pt;
}
span.SidhuvudChar {
  font-family: "Verdana";
  font-size: 7.5pt;
  font-variant: small-caps;
}
span.Tabell-Upphjttecken {
  font-family: "Verdana";
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  vertical-align: super;
  display: inline;
}
span.VapenChar {
  font-family: "Verdana";
  font-size: 16pt;
}
span.tBilagaJA {
  color: #000000;
}
span.tSidrubrikJA {
  color: #000000;
}
.PlainTable1 {
}
.TableGrid {
}
