main {
  .featured {
    width: 100%;
    border: 1px solid;
    margin: 0.5rem 0;
    padding: 1rem;
    border-color: theme-color("secondary");
  }
  .jumbotron {
    box-shadow: 0 0 #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: theme-color("secondary");
    color: theme-color("light");
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;

    h3 {
      text-align: center;
      font-weight: 300;
    }

    span::after {
      height: 100%;
    }
  }
}
