.search-button {
  background: none;
  padding: 0;
  border: 0;
  color: theme-color("light");
}
.banner {
  z-index: 1200;
  display: flex;
  background-color: theme-color("primary");
  justify-content: space-between;

  .brand {
    padding-left: 0.5rem;
    color: theme-color("light");
    font-size: 2rem;
  }
}
#search-header {
  padding: 0.5rem;
  .react-autosuggest__input {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: theme-color("secondary");
    border-radius: 4px;
    padding: 0.25rem 0.5rem;

    input {
      color: theme-color("light");
      background-color: theme-color("secondary");
    }
    input::placeholder {
      color: theme-color("light");
    }
  }
  /* Sugestion */

  .react-autosuggest__container {
    .react-autosuggest__suggestions-container--open {
      position: absolute;
      top: 56px;
    }
    /* Suggestions */
    .react-autosuggest__suggestions-container {
      .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        div {
          width: 100%;
        }
        .react-autosuggest__suggestion {
          display: flex;
          a {
            width: 100%;
            padding: 0.75rem 1rem;
            color: theme-color("dark");
          }
        }
      }
    }
  }
}
#search-page {
  display: flex;
  justify-content: space-between;

  .react-autosuggest__input {
    margin-bottom: 1rem;
    width: 100%;
  }
  .react-autosuggest__input:before {
    border-color: theme-color("secondary");
  }
  .react-autosuggest__input:after {
    border-color: theme-color("primary");
  }
  .react-autosuggest__container {
    flex-direction: column;
  }
  .react-autosuggest__suggestions-container {
    .react-autosuggest__suggestions-list {
      padding: 0;
      border: solid 1px theme-color("primary");
      .react-autosuggest__suggestion:not(:first-child) {
        border-top: solid 1px theme-color("primary");
      }
      .react-autosuggest__suggestion {
        display: flex;
        width: 100%;
        .list {
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #search-page {
    .react-autosuggest__container {
      width: 100%;
    }
  }

  .banner {
    .brand {
      display: none;
    }
    .align {
      display: none;
    }
    .search-bar {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  #search-header {
    width: 100%;
    .react-autosuggest__container {
      width: 100%;
      .react-autosuggest__input {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  #search-page {
    .react-autosuggest__container {
      width: 75%;
    }
  }
}
