.banner {
  z-index: 1200;
  display: flex;
  background-color: theme-color("primary");
  justify-content: space-between;

  .brand {
    font-size: 2rem;
  }
}
.search-bar {
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  /* Sugestion */
  .react-autosuggest__container {
    display: inline-flex;
    justify-content: center;
    .react-autosuggest__suggestions-container--open {
      position: absolute;
      top: 56px;
      width: 246px;
    }
    /* Suggestions */
    .react-autosuggest__suggestions-container {
      .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        .react-autosuggest__suggestion {
          display: flex;
          a {
            color: theme-color("dark");
            width: 100%;
            padding: 0.75rem 1rem;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .banner {
    .brand {
      display: none;
    }
    .align {
      display: none;
    }
    .search-bar {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  .search-bar {
    width: 100%;
    .react-autosuggest__container {
      width: 100%;
      .react-autosuggest__input {
        width: 100%;
      }
      .react-autosuggest__suggestions-container--open {
        width: calc(100% - 1rem);
      }
    }
  }
}
