// Roboto
@import 'roboto';
// Bootstrap
@import 'bootstrap/containers';
@import 'bootstrap/text';
// Custom sass
@import 'partyColor';

.list-title {
  -webkit-box-shadow: 0 0 #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 0 #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  min-height: 5rem;
  padding: 1.5rem 0.25rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #009688;
  color: #f8f9fa;
}

.responsive-ad {
  text-align: center;
}

html {
  .standpoints {
    border-bottom: 2px solid;
  }
  .partyOpinions:before {
    content: '';
    position: absolute;
    left: -0.75rem;
    top: 0.5rem;
    width: 6px;
    height: 6px;
  }
  main {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .shadow-sm {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }
  #__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  p {
    font-weight: 300;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; // 1
}

html {
  height: 100vh;
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
}
footer,
header,
main {
  display: block;
}

body {
  height: 100%;
  margin: 0; // 1
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left; // 3
  background-color: #fafafa; // 2
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  font-weight: 500; // Add the correct font weight in Chrome, Edge, and Safari
}

a {
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}
