$font-stack: Roboto, sans-serif;

$primary: #00796b;
$secondary: #009688;

// Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/transitions";

// Utilites
@import "../node_modules/bootstrap/scss/utilities/position";
@import "../node_modules/bootstrap/scss/utilities/text";
@import "../node_modules/bootstrap/scss/utilities/spacing";

// Custom sass
@import "Tabs";
@import "Front-Page";
@import "Navigation";
@import "Footer";
@import "Subjects";
@import "Party-color";
@import "Search";

html {
  height: 100vh;
}
html {
  body,
  h3,
  h4 {
    font-weight: 300;
  }
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-weight: 300;
  }
  main {
    padding-top: 2rem;
    flex-grow: 1;
  }
  #__next {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: stretch;
  }
  @media (max-width: 767px) {
    body {
      height: 100%;
    }
  }
  @media (min-width: 768px) {
    body {
      height: 100%;
    }
  }
  p {
    font-size: 1.25rem;
    font-weight: 300;
  }
  a {
    transition: color 0.15s ease-in-out;
  }
}
