.slidetoggle li:before{
    content: "";
    position: absolute;
    left: -10px;
    top: 10px;
    -khtml-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 6px;
    height: 6px;
}
.opinion_box{
    border-bottom: 2px solid #00796B;
}
.slidetoggle li{
    list-style: none;
    position: relative;
}
.slidetoggle li+li{
    margin-top: 10px;
}
.partititle{
    background: #fbfbfb;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.partititle:hover,
.partititle:focus{
    background-color: #f1f2f6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.amneList{
    background-color: #f6f6f6;
}
.listobjekt > a:hover > span{
    background-position:left bottom;
    color: #fff;
}
.listobjekt > a{
    background-color: #f6f6f6;
}
.listobjekt > a > span{
    line-height: 50px;
    background: linear-gradient(to left, #f6f6f6 50%, #00796B 50%);
    background-size: 202% 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.listobjekt:nth-child(2n+1){
    border-left: solid 4px #00796B;
}

@media (max-width:767px){
    .listobjekt{
        width:100%;
    }
    .listline{
        display: none;
    }
    .listobjekt:nth-child(2n){
        border-left: solid 4px #00796B;
    }
}
@media (min-width:768px){
    .listobjekt:nth-child(2n){
        border-left: solid 2px #00796B;
    }
    .listobjekt:nth-child(2n+1){
        border-right: solid 2px #00796B;
    }
    .listobjekt > a:hover{
        color: #000;
    }
    .listobjekt{
        width: 50%;
    }
}
.bokstav{
    background-color: #049372;
    font-size: 20px;
}